.header
  padding: var(--header-footer-y-padding) 0
  margin-bottom: 72px

.wrapper
  display: flex
  justify-content: space-between
  align-items: center

.menu
  display: flex

  nav
    display: flex
    margin-right: 72px
    ul
      display: flex
      align-items: center
      justify-content: space-between
      width: 228px
    a
      padding: 10px
      background-color: transparent
      border-radius: 4px
      transition: color var(--transitionDuration-main) var(--transitionTiming-main), background-color var(--transitionDuration-main) var(--transitionTiming-main)
      &:hover
        background-color: rgba(255, 255, 255, .1)
        color: var(--color-white)

.social
  display: flex
  align-items: center
  justify-content: space-between
  width: 240px

  a:not(:last-child)
    transition: color var(--transitionDuration-main) var(--transitionTiming-main)

    path
      fill: var(--color-primary-grey)
      transition: fill var(--transitionDuration-main) var(--transitionTiming-main)
    &:hover
      color: var(--color-white)
      path
        fill: var(--color-white)

.discord
  width: 23px
  height: 26px

.github
  font-size: .8rem
  display: flex
  align-items: center
  gap: 4px
  svg
    width: 26px
    height: 26px

