.container
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 356px
  &::before, &::after
    position: absolute
    z-index: -10
    content: ''
    width: 400px
    height: 400px
    border-radius: 50%
    background-image: linear-gradient(to right bottom, var(--color-blue), var(--color-pink))
    filter: blur(156px)
  &::before
    left: 128px
    margin-top: 128px
  &::after
    right: 128px
    margin-top: -64px
  iframe
    border: 1px solid var(--color-white)
    border-radius: 10px

.ytPreview
  width: 472px
  height: 400px
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  background-image: url(/img/youtube-preview.png)
  border: 1px solid var(--color-white)
  border-radius: 38px

.backbone
  --width: 354px
  position: absolute
  transform: translateY(375px)
  z-index: -10
  left: 182px
  width: var(--width)
