@import './ScreenPackages.module'
@import './Energy.module'

// TODO: voice waves turns on the system (light effects)

.hero
  opacity: 0
  // TODO: trigger on scroll position/intersection
  animation: displayHero 2s ease-in forwards

@keyframes displayHero
  100%
    opacity: 1
