@import '@/styles/_includes/mixins'

.container
  --animation-container-size: 364px
  --spacing-between-feature: 156px

.backbone
  --width: 672px
  position: absolute
  transform: translateY(-200px)
  z-index: -10
  left: calc(50% - (var(--width) / 2))
  width: var(--width)
.backboneEnd
  --width: 332px
  position: absolute
  transform: translateY(-230px)
  right: 200px
  z-index: -10
  width: var(--width)

.asteroid
  position: absolute
  z-index: -10
  margin-left: -25px
  margin-top: -25px
  background-image: url(/img/asteroid-1.svg)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 204px
  height: 202px
  box-shadow: inset 10px -100px 80px var(--color-black)

.earth
  position: absolute
  z-index: -20
  right: -50px
  margin-left: -25px
  margin-top: -200px
  background-image: url(/img/earth-1.svg)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 285px
  height: 356px
  box-shadow: inset 0 50px 80px var(--color-black), inset -65px 0 65px var(--color-black)

.horizContainer
  position: relative
  display: flex
  justify-content: space-between
  margin-bottom: var(--spacing-between-feature)
  text-align: center
  box-shadow: var(--backbone-shadow)
  h2, p
    text-align: center
    width: var(--animation-container-size)

  p
    min-height: 89px
    margin-bottom: 32px

.automate, .imagination, .ai
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: var(--spacing-between-feature)
  div:nth-child(1)
    width: 500px
.imagination
  flex-direction: row-reverse

.animationContainer
  background-color: var(--color-black)
  border-radius: 16px
  width: var(--animation-container-size)
  height: var(--animation-container-size)
  border: solid 2px transparent
  background-origin: border-box
  background-clip: content-box, border-box
  overflow: hidden
  box-shadow: var(--backbone-shadow)
  &.openSourceAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #1CDBA2, var(--color-blue))
    svg
      position: relative
      left: -55px
      top: -25px
      width: 490px
  &.privacyAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #CB356B, #BD3F32)
    svg
      position: relative
      left: 35px
      top: 40px
  &.automateAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #8E2DE2, #4A00E0)
    svg
      position: relative
      left: -85px
      top: -45px
      width: 470px
  &.imaginationAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #F27602, #EDF046)
    svg
      position: relative
      left: -40px
      top: 20px
      width: 600px
  &.aiAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #BDC3C7, #2C3E50)
    svg
      position: relative
      top: -80px
      left: -100px
      width: 510px

.privacyRays
  opacity: .4
  animation: blinkPrivacyRays 5s infinite alternate
@keyframes blinkPrivacyRays
  25%
    opacity: .6
  50%
    opacity: .4
  75%
    opacity: 1

.privacySatellite
  transform: translateY(0)
  animation: movePrivacySatellite 5s linear infinite alternate
@keyframes movePrivacySatellite
  100%
    transform: translateY(15px)

.privacyShield
  opacity: .7
  animation: blinkPrivacyShield 5s infinite alternate
@keyframes blinkPrivacyShield
  25%
    opacity: .5
  50%
    opacity: .7
  75%
    opacity: 1

.aiLogo
  transform-origin: 425px 425px
  transform: translateZ(0) perspective(1000px) rotateY(0deg)
  animation: rotateAiLogo 20s linear infinite
@keyframes rotateAiLogo
  100%
    transform: translateZ(0) perspective(1000px) rotateY(360deg)

.aiWires
  opacity: .4
  animation: blinkAiWires 5s infinite alternate
@keyframes blinkAiWires
  25%
    opacity: .5
  50%
    opacity: .7
  75%
    opacity: 1

.imaginationStars
  opacity: 0
  animation: imaginationMoveItems 5s ease-in infinite
.imaginationIdea
  opacity: 0
  animation: imaginationMoveItems 5s 2s ease-in infinite
.imaginationPackages
  opacity: 0
  animation: imaginationMoveItems 5s 4s ease-in infinite
.imaginationRocket
  opacity: 0
  animation: imaginationMoveItems 5s 6s ease-in infinite
.imaginationThinking
  opacity: 0
  animation: imaginationMoveItems 5s 8s ease-in infinite
@keyframes imaginationMoveItems
  75%
    opacity: 1
  100%
    transform: translateY(-32px)
    opacity: 0

.imaginationAstronaut
  transform: translateY(0)
  animation: imaginationMoveAstronaut 5s linear infinite alternate
@keyframes imaginationMoveAstronaut
  100%
    transform: translateY(-20px)

.automateWires
  opacity: .4
  animation: blinkAutomateWires 5s infinite alternate
@keyframes blinkAutomateWires
  25%
    opacity: .5
  50%
    opacity: .7
  75%
    opacity: 1

.automateLogo
  transform: translateY(0)
  animation: automateMoveLogo 3s linear infinite alternate
@keyframes automateMoveLogo
  100%
    transform: translateY(-20px)

.automateRocket
  transform: translateY(72px)
  animation: automateMoveRocket 5s ease-in infinite
@keyframes automateMoveRocket
  100%
    transform: translateY(-164px)

.automateLeft1stWave
  opacity: 0
  animation: automateMoveLeft1stWave 3s ease-in infinite
@keyframes automateMoveLeft1stWave
  50%
    opacity: 1
    transform: translate3d(7.5px, -15px, 0)
  100%
    transform: translate3d(7.5px, -15px, 0)
.automateLeft2ndWave
  transform: translate3d(5px, -5px, 0)
  opacity: 0
  animation: automateMoveLeft2ndWave 3s .5s ease-in infinite
@keyframes automateMoveLeft2ndWave
  50%
    opacity: 1
    transform: translate3d(5px, -10px, 0)
  100%
    transform: translate3d(5px, -10px, 0)
.automateLeft3rdWave
  opacity: 0
  animation: automateMoveLeft3rdWave 3s 1s ease-in infinite
@keyframes automateMoveLeft3rdWave
  50%
    opacity: 1
    transform: translate3d(2.5px, -5px, 0)
  100%
    transform: translate3d(2.5px, -5px, 0)
.automateRight1stWave
  opacity: 0
  animation: automateMoveRight1stWave 3s ease-in infinite
@keyframes automateMoveRight1stWave
  50%
    opacity: 1
    transform: translate3d(-7.5px, -15px, 0)
  100%
    transform: translate3d(-7.5px, -15px, 0)
.automateRight2ndWave
  transform: translate3d(-5px, -5px, 0)
  opacity: 0
  animation: automateMoveRight2ndWave 3s .5s ease-in infinite
@keyframes automateMoveRight2ndWave
  50%
    opacity: 1
    transform: translate3d(-5px, -10px, 0)
  100%
    transform: translate3d(-5px, -10px, 0)
.automateRight3rdWave
  opacity: 0
  animation: automateMoveRight3rdWave 3s 1s ease-in infinite
@keyframes automateMoveRight3rdWave
  50%
    opacity: 1
    transform: translate3d(-2.5px, -5px, 0)
  100%
    transform: translate3d(-2.5px, -5px, 0)

.osText
  position: absolute
  z-index: 10
  color: var(--color-white)
  font-weight: var(--fontWeight-semibold)
  opacity: 0
@for $i from 1 through 6
  .osText1to2#{$i}
    font-size: 1.5em
    animation: osMoveText1to2 3s $i * .5s linear infinite
@keyframes osMoveText1to2
  25%
    opacity: .7
  100%
    transform: translate3d(280px, 190px, 0) rotate(360deg) scale(.6)
    opacity: 0
@for $i from 1 through 6
  .osText2to3#{$i}
    font-size: 1em
    animation: osMoveText2to3 3s $i * .5s linear infinite
@keyframes osMoveText2to3
  25%
    opacity: .7
  100%
    transform: translate3d(80px, 150px, 0) rotate(360deg) scale(.6)
    opacity: 0
@for $i from 1 through 6
  .osText3toTop#{$i}
    font-size: .8em
    animation: osMoveText3toTop 3s $i * .5s linear infinite
@keyframes osMoveText3toTop
  25%
    opacity: .7
  100%
    transform: translate3d(164px, 0px, 0) rotate(360deg) scale(.6)
    opacity: 0

@include tablet
  .container
    --spacing-between-feature: 64px
  .horizContainer
    display: flex
    flex-direction: column
    gap: 64px
    align-items: center
    p
      margin-bottom: 16px
  .animationContainer
    box-shadow: none
  .automate, .imagination, .ai
    text-align: center
    flex-direction: column
    margin-bottom: var(--spacing-between-feature)
    h2, p
      margin: 0 auto
      margin-bottom: 16px
  .imagination
    flex-direction: column
@include mobile
  .horizContainer
    gap: 32px
    p
      margin-bottom: 0
  .automate, .imagination, .ai
    h2, p
      width: 300px
  .animationContainer
    transform: scale(.8)
  .earth
    margin-top: -300px
