.container
  --animation-container-size: 364px
  --spacing-between-feature: 156px
  font-size: var(--fontSize-bigger)
  h2
    margin-bottom: 16px

.horizContainer
  display: flex
  justify-content: space-between
  margin-bottom: var(--spacing-between-feature)
  text-align: center
  h2, p
    text-align: center
    width: var(--animation-container-size)

  p
    min-height: 89px
    margin-bottom: 32px
    line-height: 1.6rem

.featureContainer
  p
    line-height: 1.5rem

.automate, .imagination, .ai
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: var(--spacing-between-feature)
  div:nth-child(1)
    width: 500px
.imagination
  flex-direction: row-reverse

.animationContainer
  background-color: var(--color-black)
  border-radius: 16px
  width: var(--animation-container-size)
  height: var(--animation-container-size)
  border: solid 2px transparent
  background-origin: border-box
  background-clip: content-box, border-box
  &.openSourceAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #1CDBA2, var(--color-blue))
  &.privacyAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #CB356B, #BD3F32)
  &.automateAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #8E2DE2, #4A00E0)
  &.imaginationAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #F27602, #EDF046)
  &.aiAnimation
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to bottom right, #BDC3C7, #2C3E50)
