/**
 * Containers
 */

.container {
  position: relative;
  max-width: 1190px;
  margin: 0 auto;
}

/**
 * Texts
 */

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

/**
 * Displays
 */

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}

/**
 * Padding spaces
 */

.xs-p-x {
  padding: 0 $xs-space;
}
.sm-p-x {
  padding: 0 $sm-space;
}
.md-p-x {
  padding: 0 $md-space;
}
.lg-p-x {
  padding: 0 $lg-space;
}

.xs-p-y {
  padding: $xs-space 0;
}
.sm-p-y {
  padding: $sm-space 0;
}
.md-p-y {
  padding: $md-space 0;
}
.lg-p-y {
  padding: $lg-space 0;
}

.xs-p-right {
  padding-right: $xs-space;
}
.sm-p-right {
  padding-right: $sm-space;
}
.md-p-right {
  padding-right: $md-space;
}
.lg-p-right {
  padding-right: $lg-space;
}

.xs-p-left {
  padding-left: $xs-space;
}
.sm-p-left {
  padding-left: $sm-space;
}
.md-p-left {
  padding-left: $md-space;
}
.lg-p-left {
  padding-left: $lg-space;
}

.xs-p-top {
  padding-top: $xs-space;
}
.sm-p-top {
  padding-top: $sm-space;
}
.md-p-top {
  padding-top: $md-space;
}
.lg-p-top {
  padding-top: $lg-space;
}

.xs-p-bottom {
  padding-bottom: $xs-space;
}
.sm-p-bottom {
  padding-bottom: $sm-space;
}
.md-p-bottom {
  padding-bottom: $md-space;
}
.lg-p-bottom {
  padding-bottom: $lg-space;
}

/**
 * Margin spaces
 */

.xs-m-x {
  margin: 0 $xs-space;
}
.sm-m-x {
  margin: 0 $sm-space;
}
.md-m-x {
  margin: 0 $md-space;
}
.lg-m-x {
  margin: 0 $lg-space;
}

.xs-m-y {
  margin: $xs-space 0;
}
.sm-m-y {
  margin: $sm-space 0;
}
.md-m-y {
  margin: $md-space 0;
}
.lg-m-y {
  margin: $lg-space 0;
}

.xs-m-right {
  margin-right: $xs-space;
}
.sm-m-right {
  margin-right: $sm-space;
}
.md-m-right {
  margin-right: $md-space;
}
.lg-m-right {
  margin-right: $lg-space;
}

.xs-m-left {
  margin-left: $xs-space;
}
.sm-m-left {
  margin-left: $sm-space;
}
.md-m-left {
  margin-left: $md-space;
}
.lg-m-left {
  margin-left: $lg-space;
}

.xs-m-top {
  margin-top: $xs-space;
}
.sm-m-top {
  margin-top: $sm-space;
}
.md-m-top {
  margin-top: $md-space;
}
.lg-m-top {
  margin-top: $lg-space;
}

.xs-m-bottom {
  margin-bottom: $xs-space;
}
.sm-m-bottom {
  margin-bottom: $sm-space;
}
.md-m-bottom {
  margin-bottom: $md-space;
}
.lg-m-bottom {
  margin-bottom: $lg-space;
}
