$logo-size: 66px;
$main-y-padding: 24px;

/**
 * Colors
 */

$white: #FFF;
$grey-light: #EEE;
$grey-dark: #BBB;
$black: #151718;
$pink: #EC297A;
$blue: #1C75DB;

/**
 * Fonts
 */

$font: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size: 16px;

$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

/**
 * Borders
 */


/**
 * Shadows
 */

$shadow: 0 2px 1px rgba(0, 0, 0, .2);

/**
 * Spaces
 */

$xs-space: 16px;
$sm-space: $xs-space * 2;
$md-space: $xs-space * 4;
$lg-space: $xs-space * 8;
