@import '@/styles/_includes/mixins'

.container
  --max-width: 243px
  margin-bottom: 164px
  h3
    display: inline-block
    box-shadow: var(--backbone-shadow)
  .footer
    text-align: center
    box-shadow: var(--backbone-shadow)
  .browse
    display: inline-block
    font-weight: var(--fontWeight-semibold)
    color: var(--color-white)
    &:hover
      :global(.feather-arrow-right)
        transform: translateX(4px)
    :global(.feather-arrow-right)
      transition: transform var(--transitionTiming-main) var(--transitionDuration-main)
      width: 14px

.astronaut
  position: absolute
  z-index: -10
  right: 272px
  margin-top: -172px
  background-image: url(/img/astronaut-1.svg)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 285px
  height: 232px
  box-shadow: inset 75px 0 80px var(--color-black), inset -65px 0 65px var(--color-black)

.saturne
  position: absolute
  z-index: -10
  right: 25px
  margin-top: -300px
  background-image: url(/img/saturne-1.svg)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 285px
  height: 300px
  box-shadow: inset 75px 0 80px var(--color-black), inset 0 10px 25px var(--color-black), inset -65px 0 65px var(--color-black)

.roadmap
  margin: 0 auto

.cardsContainer
  position: absolute
  margin-top: 80px
  margin-left: 30px
  width: 950px
  height: 450px
  .cardContainer
    position: absolute
    display: inline-flex
    flex-direction: column
    width: 256px
    height: 88px
    background-color: var(--color-black)
    border-radius: 10px
    border: solid 2px transparent
    background-origin: border-box
    background-clip: content-box, border-box
    background-image: linear-gradient(var(--color-black), var(--color-black)), linear-gradient(to right, var(--color-blue), var(--color-pink))
    transition: transform var(--transitionDuration-main) var(--transitionTiming-main)
    &:hover
      transform: scale3d(1.05, 1.05, 1.05)
  .cardInnerContainer
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between
    padding: 6px
  .typesContainer
    display: inline-block
    gap: 4px
    max-width: var(--max-width)
    ~ div
      display: flex
      flex-direction: column
      gap: 4px
  .type, .version
    display: inline-block
    padding: 1px 4px
    border-radius: 6px
    background-color: var(--color-white)
    color: var(--color-black)
    font-weight: var(--fontWeight-semibold)
    font-size: .8rem
  .type
    margin-right: 4px
    margin-bottom: 4px
    &:last-child
      margin-right: 0
  .title
    max-width: var(--max-width)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: var(--color-white)
    font-weight: var(--fontWeight-semibold)
    padding-bottom: 1px

.backbone
  --width: 214px
  position: absolute
  z-index: -10
  left: 508px
  width: var(--width)

@include tablet
  .container
    margin-bottom: 100px
    h3
      box-shadow: none
    .footer
      box-shadow: none
  .cardsContainer
    width: 100%
    margin-top: 0
    margin-left: 0
    left: -72px
    transform: scale(.7)
  .astronaut
    opacity: .7
    right: 170px
    margin-top: -110px
    width: 285px
    height: 164px
    box-shadow: none
  .saturne
    opacity: .7
    right: 25px
    margin-top: -180px
    width: 285px
    height: 164px
    box-shadow: none
@include mobile
  .container
    --max-width: 200px
    h3
      text-align: center
  .astronaut
    right: 64px
    margin-top: -120px
  .saturne
    right: -64px
    margin-top: -200px
  .cardsContainer
    position: relative
    margin-top: -72px
    display: grid
    width: 356px
    height: 496px
    grid-template-columns: repeat(2, 1fr)
    row-gap: 8px
    column-gap: 8px
    align-items: center
    justify-items: center
    .cardContainer
      top: auto !important
      left: auto !important
      position: relative
      width: 248px
  .roadmapBg
    display: none
