.container
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 32px

  h1, p
    text-align: center

  h1
    display: flex
    justify-content: center
    font-size: 6rem
    width: 600px
    margin-bottom: 16px

  p
    font-size: 1.1rem
    line-height: 1.4rem
    font-weight: var(--fontWeight-semibold)

    strong
      font-weight: var(--fontWeight-bold)
